.main-container{
    width: 1200px;
    height: 600px;
    margin: auto;
    background-color:rgb(24,23,28);
    border-spacing:0 4px;
    font-family: 'Roboto', sans-serif;
    padding-right: 8px;
}

th{
    color: white;
    text-align: left;
    padding-left: 10px;
}

td{
    background-color: rgb(38,35,45);
    color:gray;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

td:first-child{
    padding-left: 10px;
}

p{
    background-color:rgb(38,35,2);
}

h3{
    margin:2px;
    color: #706767;
}

.diffrence td span:nth-last-child(n){
    color: white;
}
.diffrence td{
    background-color:rgb(46,44,57);
    color: white;
}